/* LESSON LEARNED: MISPELLING */
/* -Developer tools: ctrl + shift + i
   -position: static, absolute, fixed, relative, sticky
   -z-index: Used to bring an element to the foreground/background
*/

body, html {
  font-family: "Shadows Into Light", monospace;
}


h2 {
  font-size: 36px;
  padding-left: 10px;
}

p {
  font-size: 18px;
  padding-left: 10px;
  padding-right: 10px;
}

.large-image {
  height: 50%;
  width: 50%;
  padding-left: 15%;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.header-container {
  position: relative;
  top: 2%; 
}

.header-text {
  position: absolute;
  bottom: -20%;
  left: 20%; 
}

.title-container {
  background-color: rgb(102, 196, 102);
  font-size: 2vw;
}

.author-container {
  background-color: black;
  color: red;
  width: 25%;
  font-size: 1vw;
}

.bg {
  position: absolute;
  display: flex;
  justify-content: center;
  background-image: url("https://images.hdqwalls.com/download/one-piece-anime-artwork-i6-1920x1080.jpg");
  height: 100%;
  width: 100%;
  z-index: -1;
}

.white-container {
  position: relative;
  background-color: rgb(255, 255, 255, 0.95);
  height: 100%;
  width: 80%;
  margin: 0px 20px;
  z-index: 2;
}


.store-photo {
  height: 128px;
  width: 128px;
}